h1 {
	color: purple;
	font-size: 60px;
}

#bear-photo {
	width: 250px;
}

.special {
	border: 1px solid teal;
	font-size: 30px;
	color: teal;
}

/* [] attribute selector */
input[type="password"] {
	width: 90%;
	height: 90%;
}
